#title {
    font-size: 3em;
}

#subtitle {
    font-size: 2em;
}

#mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#playground {
    border-color: black;
    border-style: ridge;
    border-width: medium;
    width: fit-content;
    height: auto;
    margin: 3px;
}

#nonPlayground {
    border-color: black;
    border-style: ridge;
    border-width: medium;
    width: 40%;
    height: 100%;
    margin: 3px;
}

#playground, #nonPlayground {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

#statContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

#actualPlayer {
    color: coral;
    font-size: 1.5em;
}

#status {
    border-color: black;
    border-style: dotted;
    border-width: medium;
    width: 30%;
}

#inventory {
    border-color: black;
    border-style: dotted;
    border-width: medium;
    width: 70%;
    height: fit-content;
}

#actionCounter {
    text-align: center;
    font-size: 4em;
}

.title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.field {
    border-color: coral;
    border-style: ridge;
    border-width: medium;
    width: 105px;
    height: 105px;
    text-align: center;
    margin: 0px;
}

.attackableField {
    border-color: #721c24;
    background-color: #c82333;
    border-style: ridge;
    border-width: medium;
    width: 105px;
    height: 105px;
    text-align: center;
    margin: 0px;
}

.centered {
    text-align: center;
}

.bordered {
    border-color: black;
    border-style: solid;
    border-width: medium;
}

.borderedRight {
    border-right: 1px black solid;
}

.borderedLeft {
    border-left: 1px black solid;
}

.borderedBottom {
    border-bottom: 1px black solid;
}

.waitButton {
    icon: url("../images/zombies/Default.png");
}

.smallMarginBottom {
    margin-bottom: 5%;
}

.bigMarginBottom {
    margin-bottom: 15%;
}

.testContainer {
    font-size: 0; /*fix inline gaps*/
    height: 100%;
    margin: 0%;
}

.item {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: auto; /*for scrollbar*/
}

table {
    height: 100%;
}


/* Responsive stuff. Rearrange if necessary */
/* When the width is not above 1850px - small screen */
@media screen and (max-width: 925px) {
    div.col-sm-3 {

        background: red;
    }
}

/* When the width is above 1850px - normal screen */
@media screen and (min-width: 926px) and (max-width: 1850px) {
    div.col-sm-3 {

        background: yellow;
    }
}

/* When the width is above 1850px - big screen */
@media screen and (min-width: 1851px) {
    div.col-sm-3 {

        background: green;
    }
}



