#mainContainer {
    display: flex;
    flex-direction: row-reverse;
}

#nonPlayground {
    width: 60%;
    height: 100%;
    margin: 3px;
}

#playerContainer {
}

#infoBoard {
}

#statContainer {
}

#status {
}

#inventory {
}

#inventoryTrash {
}

#inventoryItemsContainer {
}

#equippedWeapon {
}

#inventoryContainer {
}

#zombieContainer {
}

#playground {
}

/* IDs from JS */
#zombieContainerList {
}

#playerContainerList {
}

#actualPlayer {
}

#notActualPlayer {
}

#actionCounter {
}

#inventory:"+ iIndex+" {
}

#myPlaygroundTable {
}

#playgroundTr" + area.fields.indexOf(line) + " {
}

#field" + $y + "-" + $x + " {
}

/* IDs from nearby pages */
#topAbout {
    margin: 5px;
    padding: 5px;
}

#defeat {
    background: red;
    height: 100%;
}

#victory {
    background: lawngreen;
}

/* classes  */
.buttonScale {
}

.myTableBuffer {
    margin-right: 5%;
    margin-left: 5%;
}

.item {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden; /*no scrollbar*/
}


/* Responsive stuff. Rearrange if necessary */
/* When the width is not above 1850px - smaller screen */
@media screen and (max-width: 1850px) {

    div.text-info {
        /* This is an example to show screen size. Delete if obsolete!*/
        background: yellow;
    }

    #mainContainer {
        display: flex;
        flex-direction: column;
    }

}
