#mainContainer {
    display: flex;
    flex-direction: row-reverse;

    /* darkMode */
    background: dimgrey;
}

#nonPlayground {
    width: auto;
    height: 100%;
}

#playground {
}


#playerContainer {
}

#infoBoard {
}

#statContainer {
    display: flex;
}

#controlContainer {
    display: flex;
}


#inventory {
}

#topInventory {

}

#inventoryTrash {
    display: None;
}

#inventoryEquipped {
    text-align: center;
}

#inventoryItemsContainer {
}

#equippedWeapon {
}

#inventoryContainer {
}

#zombieContainer {
}


/* classes  */
.buttonScale {
    height: auto;
    width: auto;
}

.buttonLink {
    margin: 2px;
}

.inventoryItem {
    margin: 2px;
}

.myTableBuffer {
    margin-right: 5%;
    margin-left: 5%;
}

/*
.item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
}
*/

/* IDs from JS */
#zombieContainerList {
}

#playerContainerList {
}

#playerPortrait {
    margin: auto;
}

#actualPlayer {
    color: coral;
}

#notActualPlayer {
}

#actionCounter {
}


#myPlaygroundTable {
}


/* IDs from nearby pages */
#topAbout {
    margin: 5px;
    padding: 5px;
}

#defeat {
    background: red;
    height: 100%;
}

#victory {
    background: lawngreen;
}


.hardShade{
    background: #f5f5f5;
    border: 1px solid #DDD;
    box-shadow: 3px 3px 0px rgba(0,0,0, .2);
}

.aboutSearch{
    background-color: greenyellow;
}

.aboutMove{
    background-color: darkgrey;
}
.aboutWait{
    background-color: dodgerblue;
}
.aboutAttack{
    background-color: red;
}


/* Responsive stuff. Rearrange if necessary */
/* When the width is not above 1850px - smaller screen */
@media screen and (max-width: 1850px) {

    div.text-info {
        /* This is an example to show screen size. Delete if obsolete!*/
        background: yellow;
    }

    #mainContainer {
        display: flex;
        flex-direction: column;
    }

}
