@()

@main("Welcome to the Zombie Pit!") {
    <h1>Welcome to the Game!</h1>
    <p>This Browser Game is a possibility to relief all of the anger you build up during the day. How about killing some Zombies?</p>
    <p><strong>This will bring you peace - promised!</strong></p>
    <table style="width: 100%">
        <tr>
            <th>Funktion des Spiels</th>
            <th>Grund</th>
        </tr>
        <tr>
            <td>Zombies töten!</td>
            <td>Zombies töten!!!</td>
        </tr>
        <tr>
            <td>Ausrüstung verwalten</td>
            <td>LOOT!</td>
        </tr>
        <tr>
            <td>Waffen ausrüsten</td>
            <td>Wer brauch schon einen Waffenschein?</td>
        </tr>
    </table>

    <h4>Liste der Waffen</h4>
    <ul>
        <li>Shotgun</li>
        <li>Flamethrower</li>
        <li>Chainsaw (In Development)</li>
        <li>Knife</li>
    </ul>
}
