@(controller: de.htwg.se.zombiezite.controller.ControllerInterface)

    @roundNumber = @{
        controller.round
    }

    @zombiesKilled = @{
        controller.zombiesKilled
    }

    @killsNeeded = @{
        controller.winCount
    }

    @playerCount = @{
        controller.playerCount
    }

    @playerNames = @{
        controller.playerNamer
    }

    @playerSize = @{
        controller.playerNamer.length
    }

    @actualPlayer = @{
        controller.actualPlayer.name
    }

    @equipedWeapon = @{
        controller.actualPlayer.equippedWeapon.name
    }

    @actualField = @{
        (controller.actualPlayer.actualField.p.x, controller.actualPlayer.actualField.p.y)
    }

    @lifePoints = @{
        controller.actualPlayer.lifePoints
    }

    @strength = @{
        controller.actualPlayer.strength
    }

    @armor = @{
        controller.actualPlayer.armor
    }

    @remainingActions = @{
        controller.actualPlayer.actionCounter
    }

    @inventory = @{
        controller.actualPlayer.equipment
    }

    @zombies = @{
        controller.zombies
    }

    @feld = @{
        controller.area
    }

    @main("Welcome to the Zombie Pit!") {

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            New Game
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/new/1">1 Player</a>
                            <a class="dropdown-item" href="/new/2">2 Player</a>
                            <a class="dropdown-item" href="/new/3">3 Player</a>
                            <a class="dropdown-item" href="/new/4">4 Player</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <h1 id="title" class="title">Welcome to the Game!</h1>
        <h2 id="subtitle" class="title">@playerCount Players entered the Zombie Pit:</h2>
        <div id="mainContainer">
            <div id="nonarea">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 borderedRight borderedBottom" align="center">
                            @if(actualPlayer == "F. Maiar") {
                                <img src="@routes.Assets.versioned("images/players/F. Maiar Por.png")">
                            }
                            @if(actualPlayer == "H. Kaiba") {
                                <img src="@routes.Assets.versioned("images/players/H. Kaiba Por.png")">
                            }
                            @if(actualPlayer == "K. Kawaguchi") {
                                <img src="@routes.Assets.versioned("images/players/K. Kawaguchi Por.png")">
                            }
                            @if(actualPlayer == "P. B. Rainbow") {
                                <img src="@routes.Assets.versioned("images/players/P. B. Rainbow Por.png")">
                            }

                            @for(i <- 0 until playerCount) {
                                @if(playerNames.apply(i) == actualPlayer) {
                                    <p id="actualPlayer" class="centered">>@playerNames.apply(i)</p>
                                } else {
                                    <p class="centered">@playerNames.apply(i)</p>
                                }
                            }
                            <h1 id="actionCounter">
                            @for(i <- 0 until remainingActions) {
                                *
                            }
                            </h1>
                        </div>
                        <div class="col-sm-3 borderedRight borderedBottom" align="center">
                            <div class="text-info">Runde @roundNumber</div>
                            <div class="text-info">@zombiesKilled/@killsNeeded Zombies erledigt.</div>
                        </div>
                        <div class="col-sm-6 borderedRight borderedBottom" align="center">
                            <div class="row justify-content-center smallMarginBottom">
                                <a class="btn btn-primary" href="/move/up">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Up
                                </a>
                            </div>
                            <div class="row justify-content-center bigMarginBottom">
                                <a class="btn btn-primary" href="/move/left">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Left
                                </a>
                                <a class="btn btn-primary" href="/move/down">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Down
                                </a>
                                <a class="btn btn-primary" href="/move/right">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Right
                                </a>
                            </div>
                            <div class="row justify-content-center">
                                <a class="btn btn-primary" href="/search">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Search
                                </a>
                                <a class="btn btn-primary" href="/wait">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Wait
                                </a>
                                <a class="btn btn-primary" href="#">
                                    <img src="@routes.Assets.versioned("images/zombies/Default.png")" width="auto" height="auto"/>
                                    Attack
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="statContainer">
                    <div id="status">
                        <h1 class="centered">Status</h1>
                        <p class="centered">My Field: @actualField</p>
                        <p class="centered">LP: @lifePoints</p>
                        <p class="centered">Strength: @strength</p>
                        <p class="centered">Armor: @armor</p>
                        <p class="centered">Equiped Weapon: @equipedWeapon</p>
                    </div>
                    <div id="inventory">
                        <h1 class="centered">Equipment</h1>

                        <table>
                            <tr>
                            @for(z <- 0 until 3) {
                                @if(inventory.length > z) {
                                    <td class="field">@inventory.apply(z).name</td>
                                }
                            }
                            </tr>
                            <tr>
                            @for(z <- 3 until 6) {
                                @if(inventory.length > z) {
                                    <td class="field">@inventory.apply(z).name</td>
                                }
                            }
                            </tr>
                        </table>
                        @if(inventory.isEmpty) {
                            <p class="centered">Inventory is empty.</p>
                        }
                    </div>
                </div>
                <h1 class="centered">Zombies</h1>
                <ul>
                @for(i <- zombies.indices) {
                    <li>@zombies.apply(i).name:
                        (@zombies.apply(i).actualField.p.x,@zombies.apply(i).actualField.p.y)
                        @zombies.apply(i).lifePoints LP</li>
                }
                </ul>
            </div>
            <div id="area">
                <table>
                @for(y <- 0 until feld.laenge) {
                    <tr>
                    @for(x <- 0 until feld.breite) {
                        @if(feld.line(x)(y).chars.nonEmpty) {
                            <td class="field">
                            @for(z <- feld.line(x)(y).chars.indices) {
                                @feld.line(x)(y).chars.apply(z).name
                            }
                            </td>
                        } else {
                            <td class="field">-</td>
                        }
                    }
                    </tr>
                }
                </table>
            </div>
        </div>
    }
