@()

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>Zombiezite</title>
        <meta name="description" content="It's Zombicide.">
        <link rel="manifest" href="@routes.Assets.versioned("manifest.json")">
        <script src="@routes.Assets.versioned("/bower_components/webcomponentsjs/webcomponents-loader.js")" type="text/javascript"></script>
        <link rel="import" href="@routes.Assets.versioned("/src/my-home/my-home.html")">
    </head>
    <body>
        <my-home></my-home>
    </body>
</html>