@(controller: de.htwg.se.zombiezite.controller.ControllerInterface)


@main("Welcome to the Zombie Pit!") {
    <head>
        <script src="@routes.Assets.versioned("javascripts/zombiezite.js")" type="text/javascript"></script>
    </head>

    <div id="mainContainer" class="container-fluid centered">
        <div id="nonPlayground" class="container border border-dark">
            <div id="controlContainer" class="container row">
                <div id="playerContainer" class="col-sm-3" align="center">
                </div>
                <div id="infoContainer"class="col-sm-3"  align="center">
                </div>
                <div id="buttonContainer" class="col-sm-6buttonScale" align="center">
                    <div class="row justify-content-center">
                        <a class="btn btn-dark" href="/move/up">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Up.png")"/>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-dark" href="/move/left">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Left.png")"/>
                        </a>
                        <a class="btn btn-dark" href="/move/down">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Down.png")"/>

                        </a>
                        <a class="btn btn-dark" href="/move/right">
                            <img class="buttonScale" class="buttonScale" src="@routes.Assets.versioned("images/icons/Right.png")"/>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-success" href="/search">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Search.png")" />
                            Search
                        </a>
                        <a class="btn btn-primary" href="/wait">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Wait.png")"/>
                            Wait
                        </a>
                        <a class="btn btn-danger" href="#">
                            <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Attack.png")"/>
                            Attack
                        </a>
                    </div>
                </div>
            </div>

            <div id="statContainer">
                <div id="status">
                </div>
                <div id="inventory" class="container">
                    <div class="row centered">
                        <div class="col">
                            <h1 class="centered">Equipment</h1>
                        </div>
                        <div class="col">
                            <h1 id="inventoryTrash" class="alert-danger">Trash</h1>
                        </div>
                    </div>
                    <div id="inventoryItemsContainer" class="container">
                        <div class="row centered smallMarginBottom">
                            <div class="col" id="equippedWeapon">
                            </div>
                        </div>
                        <div class="row" id="inventoryContainer">
                        </div>
                    </div>
                </div>
            </div>

            <div id="zombieContainer" class="container">
            </div>
        </div>

        <div id="playground" class="container">
        </div>
    </div>
}

