@(controller: de.htwg.se.zombiezite.controller.ControllerInterface)


@main("Welcome to the Zombie Pit!") {
    <head>
        <script src="@routes.Assets.versioned("javascripts/zombiezite.js")" type="text/javascript"></script>
    </head>

    <div id="mainContainer" class="container-fluid centered">
        <div id="nonPlayground" class="container">
            <div id="controlContainer" class="border border-dark">
                <div class="col-3">
                    <div id="playerContainer" class="text-center">
                    </div>
                </div>
                <div class="col-3 border-left border-right border-dark">
                    <div id="infoContainer"class="text-center">
                    </div>
                </div>
                <div class="col-6">
                    <div id="buttonContainer" class="text-center">
                        <div class="row justify-content-center">
                            <a class="btn btn-dark buttonLink" href="/move/up">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Up.png")"/>
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn btn-dark buttonLink" href="/move/left">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Left.png")"/>
                            </a>
                            <a class="btn btn-dark buttonLink" href="/move/down">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Down.png")"/>

                            </a>
                            <a class="btn btn-dark buttonLink" href="/move/right">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Right.png")"/>
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn btn-success buttonLink" href="/search">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Search.png")" />
                                Search
                            </a>
                            <a class="btn btn-primary buttonLink" href="/wait">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Wait.png")"/>
                                Wait
                            </a>
                            <a class="btn btn-danger buttonLink" href="#">
                                <img class="buttonScale" src="@routes.Assets.versioned("images/icons/Attack.png")"/>
                                Attack
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="statContainer" class="container border border-dark">
                <div class="col-3">
                    <div id="status" class="container border-right border-dark">
                    </div>
                </div>
                <div class="col-9">
                    <div id="inventory" class="container">
                        <div id="topInventory" class="row text-center">
                            <div class="col-9">
                                <h1 class="centered">Equipment</h1>
                            </div>
                            <div class="col-3">
                                <h1 id="inventoryTrash" class="alert-danger">Trash</h1>
                            </div>
                        </div>
                        <div id="inventoryItemsContainer" class="container">
                            <div id="inventoryEquipped" class="row centered">
                                <div class="col" id="equippedWeapon">
                                </div>
                            </div>
                            <div class="row" id="inventoryContainer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="zombieContainer" class="container border border-dark">
            </div>
        </div>

        <div id="playground" class="container">
        </div>
    </div>
}

